@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Noto Serif Bengali", serif;
  font-style: normal;
  margin: 0;
  padding: 0;
}
