@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  font-family: "Noto Serif Bengali", serif;
  font-style: normal;
  margin: 0;
  padding: 0;
}

a.active {
  border-color: brown;
}
